/* LandingPage.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.landing-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lettuce-icon {
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  animation: moveLeftRight 2s linear infinite;
}

@keyframes moveLeftRight {
  0% {
    transform: translateX(10);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(10);
  }
}

p {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}