@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


p {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}